.diceScore {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: rgb(255, 255, 255);

	.firstLine {
		display: flex;
		flex-direction: row;
		width: 80%;
		justify-content: space-between;

		.line {
			display: flex;
			align-items: center;
		}

		p {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-weight: lighter;
		}

		.support {
			margin-left: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			background-color: #fff;
			border: 1px solid rgb(0, 0, 0);
			border-radius: 10px;
			color: green;
		
		}
		
		.supportWindow {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 300px;
			background-color: rgb(0, 0, 0);
		}
		.support:hover {background-color: rgb(177, 255, 177);}
	}

	.dices {
		display: flex;
		flex-direction: row;
		color: rgb(0, 0, 0);
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.fa-solid {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		font-size: 40px;
		margin: 10px 10px;
		cursor: pointer;
	}

	.active {
		border: 3px solid rgb(0, 0, 0);
		border-radius: 5px;
	}
}

.score {
	display: none;
}

.scoreActive {
	display: flex;
}

.support {
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 10px;
	color: green;

}

.supportWindow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	background-color: rgb(0, 0, 0);
}

.throwButton {
	display: none;
	background-color: green;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px 10px;
	transition: background-color 0.3s, color 0.3s;
}

.throwButton:hover {
	background-color: rgb(0, 240, 0);
	color: black;
}

.activeButton {
	display: flex;
}

@media (min-width: 576px) {
	.diceScore {
		width: 80%;
		border-radius: 10px;
	}
}
